<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 h-screen w-screen flex justify-center items-center">
    <button class="gap-2 font-bold bg-neutral-50 text-neutral-1000 backdrop-blur-xl rounded-4xl py-2 px-6 flex justify-center items-center text-center my-10 w-85 h-10 text-base shadow-3xl hover:bg-neutral-200 disabled:bg-neutral-50 disabled:opacity-50">
        Create Account
    </button>
</body>
</html>