<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Follow</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 h-screen w-screen flex justify-center items-center">
    <button class="gap-2 font-bold bg-neutral-50 text-neutral-1000 backdrop-blur-xl rounded-3.2xl py-2 px-5 inline-flex justify-center items-center text-center w-22 h-8 text-sm hover:bg-neutral-200 disabled:bg-neutral-200 disabled:opacity-50">
        Follow
    </button>
</body>
</html>