<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Following</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 h-screen w-screen flex justify-center items-center">
    <button class="inline-flex justify-center items-center bg-neutral-1000 text-sm shadow-3xl font-bold rounded-4xl w-24 h-7 py-1.5 px-4 gap-2 backdrop-blur-xl border-stroke border border-solid text-neutral-50">
            Following
    </button>
</body>
</html>