<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home and Person</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 h-screen w-screen">
    <div class="flex ml-8 w-107 h-14 pt-5 pr-20 pl-20 justify-center items-center gap-40 border-b border-solid border-neutral-700 bg-neutral-1000">
        <div class="flex flex-col justify-center items-center gap-4">
            <p class="text-base font-medium text-neutral-400">For you</p>
            <div class="w-14 h-1 rounded-3.2xl bg-twitter-blue"></div>
        </div>
        <div>
            <p class="text-base font-medium text-neutral-400">Following</p>
        </div>
    </div>
    <div class="mt-8 ml-8 gap-5 w-16 h-28 border border-dotted border-purple rounded-esm">
        <img src="/src/images/Home.svg" class="pl-5 pt-5">
        <img src="/src/images/Home selected.svg" class="pl-5 pt-5">
    </div>
    <div class="mt-8 ml-8 gap-5 w-16 h-28 border border-dotted border-purple rounded-esm">
        <img src="/src/images/Group1.svg" class="pl-5 pt-5">
        <img src="/src/images/group1 fill.svg" class="pl-5 pt-5">
    </div>
</body>
</html>