<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Large</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 h-screen w-screen flex justify-center items-center">
    <button class="text-center text-twitter-white-100 bg-twitter-blue text-base font-medium flex justify-center items-center gap-2.5 py-5 px-5 w-99 h-14 rounded-full hover:bg-twitter-second disabled:bg-twitter-second disabled:opacity-50">
            Post
    </button>
</body>
</html>