<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Small</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 h-screen w-screen flex justify-center items-center">
    <button class=" text-center text-neutral-50 bg-twitter-blue text-base font-bold inline-flex items-center gap-2.5 py-3 px-6 w-22 h-11 rounded-3.2xl hover:bg-twitter-second disabled:bg-twitter-second disabled:opacity-50">
            Post
    </button>
</body>
</html>