<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up with Google Component</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 h-screen w-screen flex justify-center items-center">
    <button class="flex justify-center items-center bg-neutral-50 shadow-3xl rounded-4xl w-83.5 h-10 py-2 px-6 gap-2 backdrop-blur-xl">
        <img src="/src/images/100x.svg">
        <span class="font-bold text-base">
            Sign up with Google
        </span>
    </button>
</body>
</html>