<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up with Google Component</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-background-blue h-screen w-screen">
    <div class="flex flex-col">
        <div class="inline-flex flex-col bg-neutral-1000 py-2.5 px-3.5 w-103 h-85 justify-between items-center ml-20 mt-32 mr-9 rounded-2xl">    
        </div>
        <div class="bg-neutral-1000 inline-flex flex-col items-start gap-3 rounded-2xl w-103 h-56 mt-32 ml-20">
            <div class="flex w-99 py-3 px-4 items-center gap-5">
                <img src="/src/images/x.svg">
                <p class="text-neutral-50">Header</p>
            </div>
        </div>
        <div class="bg-neutral-1000 inline-flex flex-col items-start gap-3 rounded-2xl w-103 h-56 mt-32 ml-20 mb-4">
            <div class="flex w-99 py-3 px-4 items-center gap-5">
                <img src="/src/images/x.svg">
            </div>
        </div>
        
    </div>
</body>
</html>