<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screen2</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 text-neutral-50 w-90">
    <div>
        <header class="flex px-3 items-center gap-5 self-stretch">
            <img src="../images/x.svg">
            <p class="text-base font-bold">Step 3 of 4</p>
        </header>
        <main>
            <p class="font-bold text-2xl ml-4">We sent you a code</p>
            <p class="text-neutral-500">Enter it below to verify anujaagarwal08@gmail.com</p>
            <fieldset class="flex justify-between w-88 h-14 py-4 px-3 items-center gap-2.5 rounded-esm ml-4 mt-5 border border-solid border-twitter-blue text-neutral-500 bg-neutral-1000">
                <legend class="text-twitter-blue">Name</legend>
                <input type="text" value="Anuja" class="bg-neutral-1000 outline-none text-neutral-50">
            </fieldset>
        </main>
    </div>
</body>