<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="h-screen w-screen flex justify-center items-center bg-neutral-1000">
    <main class="flex gap-8 justify-center items-center">
        <div>
           <img src="/src/images/100x.svg">
        </div>
        <div class="text-neutral-50 px-7 flex flex-col items-start">
            <h1 class="text-neutral-50 font-bold text-5xl not-italic w-90 h-14">Happening Now</h1>
            <p class="text-2.5xl w-34 h-8 text-neutral-50">Join today</p>
            <button class="gap-2 font-bold bg-neutral-50 text-neutral-1000 backdrop-blur-xl rounded-4xl py-2 px-6 self-stretch flex items-center justify-center text-center my-10 w-72 h-10">Create Account</button>
            <div class="flex items-center w-full">
                <div class="border-b w-32 border-neutral-700"></div>
                <div class="px-2 text-neutral-50">or</div>
                <div class="border-b w-32 border-neutral-700"></div>
              </div>
            <p class="h-6 w-60 text-xl mt-10 font-medium">Already have an account?</p>
            <button class="flex py-2 px-6 my-5 content-center items-center gap-y-2.5 self-stretch rounded-4xl w-72 h-9 text-center text-twitter-blue backdrop-blur-xl border border-primary-border shadow-3xl justify-center gap-2">Sign up</button>
        </div>
    </main>
</body>
</html>