<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up with Google Component</title>
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 h-screen w-screen">
    <div class="flex w-86 ml-8 mt-8 active:border active:border-twitter-blue active:rounded-full">
        <img src="/src/images/Group.svg" class="bg-neutral-500 pl-4 py-2.5 rounded-l-full" >
        <input type="text" placeholder="Search" class="bg-neutral-500 text-neutral-50 pl-4 py-2.5 pr-60 rounded-r-full outline-none w-84">
    </div>
    <fieldset class="flex w-95 h-14 py-4 px-3 items-center gap-2.5 rounded-esm ml-8 mt-8 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
            <legend class="text-neutral-500">Label</legend>
            <input type="text" placeholder="Label" class="bg-neutral-1000 outline-none">
    </fieldset>

    <fieldset class="flex justify-between w-95 h-14 py-4 px-3 items-center gap-2.5 rounded-esm ml-8 mt-8 border border-solid border-twitter-blue text-neutral-500 bg-neutral-1000">
        <legend class="text-twitter-blue">Label</legend>
        <input type="text" value="Value" class="bg-neutral-1000 outline-none text-neutral-50">
        <img src="/src/images/icon.svg" class="mb-4">
    </fieldset>
    
    <div class="flex ml-8 mt-8 gap-3">
        <img src="/src/images/User avatar.png">
        <input type="text" placeholder="What's happening?" class="bg-neutral-1000 outline-none text-neutral-600">
    </div>

    <div class="flex ml-8 mt-8 gap-3">
        <img src="/src/images/User avatar.png">
        <input type="text" value="Don't wish for it, work for it" class="bg-neutral-1000 outline-none text-neutral-50">
    </div>


</body>
</html>